/*start home page style*/
* {
  padding: 0px;
  margin-left: 0px;
}
.first-container {
  background-color: #eef7ff;
}
.navbar-container {
  background-color: #eef7ff;
}

.full-width {
  width: 100%;
}
.sample-work {
  margin-left: 0px !important;
}
.fifty-width {
  width: 50%;
}
.ml-500 {
  margin-left: 6rem;
  position: relative;
}
.btns {
  display: block !important;
}
.mt-500 {
  margin-top: -100px !important;
}

.active {
  background-color: #17a2b8;
  color: #fff !important;
  border-radius: 0px;
}
.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.four {
  font-size: 4em;
  color: #000000;
  font-weight: bold;
}
.what-i-do {
  font-weight: bold;
  color: ##0089ff;
  font-size: 10px;
}
/*.links{
		background-color: transparent;
		color: black!important;
	}*/
.logo {
  width: 20%;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}
.span {
  font-weight: normal !important;
  font-size: 20px;
  /*color: red;*/
}
.para {
  font-family: calibri;
  font-size: 20px;
  line-height: 25px;
}
.navbar-nav .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.font-18 {
  font-size: 16px;
  font-family: calibri;
  font-weight: bold;
}
.design {
  font-weight: bold;
  font-family: calibri !important;
  font-size: 40px;
}
.delepment {
  font-weight: bold;
  font-family: LinetoBlack !important;
  font-size: 30px;
}
.h-1
{
  font-size: 32px !important;
}
h4 {
  font-size: 30px;
}
.pt-100 {
  padding-top: 50px;

}
.p-dev
{
  font-family: calibri;
font-size: 17px;
}
/*.pt-100{
		padding-top: 100px;
		padding-bottom: 70px;
}*/
.list {
  margin-left: 15px;
}
.box {
  box-shadow: 0.5px 0.5px 10px #ddd;
  margin-left: -10px;
}
.btn10 {
  background-color: #17a2b8;
  color: #fff;
}
.btn10:hover {
  background-color: #fff;
  border: 2px solid #17a2b8;
  color: black;
}

.navbar-expand-sm {
  background-color: #eef7ff;
  float: right;
  margin-top: 0pt;
}
.firstp {
  font-size: 20px !important;
  font-family: calibri;
  font-weight: bold !important;
}
.webicon {
  width: 40%;
}
.py-30 {
  color: white;
  font-weight: 500;
  background-color: #0089ff;
  border-radius: 6px;
  padding: 10px 10px;
  border: 2px solid #0089ff;
}
.py-30:hover {
  color: white;
  background-color: #eef7ff;
  color: #0089ff;
}

.py-31 {
  box-shadow: 3px 3px 10px lightgray;
  color: #0089ff;
  font-weight: 500;
  border: 2px solid #0089ff;
  padding: 10px 10px;
  background-color: #eef7ff;
  border-radius: 6px;
}
.py-31:hover {
  color: #0089ff;
}
.webimg {
  width: 60%;
}
.text-info {
  font-size: 18px;
  font-weight: bold;
  font-family: calibri;
  color: #7510f7 !important;
  font-size: 18px;
}
.ux {
  color: black;
  font-family: calibri;
  font-size: 18px;
  font-weight: 500;
}
.icons {
  width: 40%;
}
.Dovelopment {
  padding-top: 50px !important;
  padding-left: 50px !important;
}

.Dovelopment img {
  width: 90%;
}
.SKILLS {
  font-family: calibri;
}
.card {
  width: 85%;
}
.card:hover {
  box-shadow: 8px 8px 10px #ddd;
  transition-duration: 1s;
}
.Recommendations h4 {
  font-family: calibri;
  font-size: 26pt;
  font-weight: bold;
  color: white;
  padding-top: 50px;
}
.Recommendations {
  background-color: #17a2b8;
}
.commaicon {
  width: 15%;
}
.vikram {
  width: 60% !important;
}
.vikramimg img {
  width: 20%;
}
.vikramimg .p {
  font-family: arial;
  font-weight: bold;
}
.vikramimg .pt {
  margin-top: -20px;
}
.pera {
  font-family: arial;
  font-weight: bold;
  color: red;
}
.zinniaimg .pt {
  margin-top: -20px;
}
.footer {
  background-color: black;
}
.footer h3 {
  color: white;
}

.footer a {
  margin-left: 20pt;
}
.footer .bootstrapcdn {
  font-size: 20px;
  color: #fff;
}
.icon {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}
.icon:hover {
  color: #0089ff;
}
/*home page close*/

/*start about page*/
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu.rc {
    background-color: #13256c44;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu {
    width: 75px;
    display: flex;
    height: auto;
    background: #efefef;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu {
    width: calc(100% - 250px);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 0px 0px 32px;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu.ekk .right-edu:after, .about .experience .educational-set .educational-set-wrapper .educational-right .classes-edu.doo .right-edu:after, .about .experience .educational-set .educational-set-wrapper .educational-right .classes-edu.teen .right-edu:after {
    position: absolute;
    right: 20%;
    top: 5%;
    font-size: 170px;
    color: #f9f9f955;
    font-family: LinetoBlack;
}
.section-five .educational-set .educational-title-wrapper .educational-subtitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.section-five .educational-set .educational-title-wrapper .educational-title {
    text-align: center;
    font-size: 24px;
    display: block;
    width: 100%;
    margin-bottom: 15px;
}
.
section-five .educational-set .educational-title-wrapper .educational-subtitle {
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu.rc {
    background-color: #13256c;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu {
    width: 250px;
    padding: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu img {
    max-width: 100%;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu .tag {
    color: #E91E63;
    font-size: 17px;
    font-family: LinetoLight;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .left-edu.ushyaku {
    background-color: #23AAE1;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu .right-edu.ushyaku {
    background-color: #23AAE144;
}
.section-five .educational-set .educational-set-wrapper .educational-right .classes-edu {
    background: #fff;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    box-shadow: 0px 6px 7px -4px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(44, 6, 82, 0.3);
    border-radius: 10px;
}
.experience .educational-set .educational-set-wrapper .educational-right .classes-edu {
    border: 0px;
    box-shadow: 0px 1px 8px -3px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
}
.experience .educational-set .educational-set-wrapper .educational-right {
    width: 75%;
    margin: 0 auto;
}

.nav li a {
  color: black;
}
.nav {
  background-color: #fff;
}
.hero-img {
  padding-bottom: 50px;
}
.heroimg {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 350px;
  height: 350px;
}
.heroimg1 {
  margin-top: 50px;
  width: 300px;
  height: 300px;
}
.mb-40 {
  margin-bottom: 0px !important;
}
.btn-r {
  width: 100% !important;
  background: red;
}

.aboutp {
  text-decoration: unset;
  font-family: calibri;
  font-size: 24px;
  font-weight: bold;
  padding-top: 30px;
}
.hero-img p {
  text-decoration: unset;
  font-family: calibri;
  font-size: 22px;
  padding-top: 30px;
}
.bor-3 {
  border: 1px solid lightgray;
  margin-bottom: 30px;
  border-radius: 15px;
}

.hero-img h3 {
  font-family: calibri;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 22px;
  line-height: 30px;
  margin: 0px auto 40px auto;
  text-align: center;
}
.hero-img .h3 {
  font-family: calibri;
  padding-left: 150px;
  padding-right: 150px;
  font-size: 22px;
  line-height: 30px;
  margin: 0px auto 40px auto;
  text-align: center;
}
.card-3 {
  background-color: #f7f7f7;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
}
.card-3 .title {
  text-align: center;
  font-size: 24px;
  display: block;
  width: 100%;
  padding-top: 80px;
}
.card-3 .qualification {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  font-weight: bold;
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.card-3 .row-1 {
  padding-top: 100px;
}
.card-3 .row .q-img {
  width: 70px;
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card-3 .row .img {
  background-color: #efefef;
  border-radius: 10px;
}
.card-3 .row .text {
  background-color: #fff;
  border-left: none;
  align-items: left;
  border-radius: 10px;
}
.card-3 .text .tag {
  color: #e91e63;
  font-size: 16px;
  font-family: calibri;
  text-align: left !important;
  padding-top: 25px;
  padding-left: 20px;
}
.card-3 .text .degree {
  color: black;
  font-size: 18px;
  font-family: calibri;
  text-align: left;
  font-weight: 600;
  padding-left: 20px;
}
.card-3 .text .institution {
  color: black;
  font-size: 16px;
  font-family: calibri;
  text-align: left;
  padding-left: 20px;
}
.box {
  background-color: transparent;
  box-shadow: none;
}
.box:hover {
  box-shadow: 2px 2px 10px lightgray;
}
.box .book {
  margin-top: 50px;
}

.py-34 {
  margin-top: 0px;
  box-shadow: 3px 3px 10px lightgray;
  color: #0089ff;
  font-weight: 500;
  border: 2px solid #0089ff;
  padding: 10px 10px;
  background-color: #eef7ff;
  border-radius: 10px;
  margin-left: 10px;
}
.py-34:hover {
  color: #0089ff !important;
}
.btn-top {
  display: flex !important;
}
.btn-top a {
  width: 100%;
}
.menu-sample {
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid lightgrey;
}
.menu-sample .g-pro {
  font-family: "poppins", sans-serif;
  font-weight: medium;
  color: #212529;
  background-color: #eef7ff;
  padding: 10px 5px 10px 5px !important;
  text-align: center;
}
.menu-sample .g-pro:hover {
  background-color: #dae2e7;
}
